{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar color-{{ block.settings.color_scheme }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
<<<<<<< HEAD
              <div class="page-width">
                {% comment %} <p class="{{ block.settings.text_alignment }}">
                  {{ block.settings.text | escape }}
                </p> {% endcomment %}
                <!-- Preloader -->
            <div class="tm-preloader">
              <svg width="300" height="300" viewBox="0 0 485 528" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M207.9,515.3H13V9h194.9c53.4,0,100.4,10.6,139.7,31.4c39.7,21.1,70.7,51.2,92,89.5
                  c21.1,38,31.9,82.2,31.9,131.2c0,49-10.7,93.3-31.8,131.5v0c-21.3,38.5-52.3,69-92.2,90.5C307.8,504.5,260.9,515.3,207.9,515.3z
                  M43,485.3h164.9c48,0,90.1-9.6,125.3-28.5c34.8-18.7,61.7-45.2,80.2-78.6c18.6-33.7,28.1-73.1,28.1-117
                  c0-43.9-9.5-83.1-28.1-116.7c-18.5-33.2-45.3-59.3-79.8-77.6C298.6,48.4,256.3,39,207.9,39H43V485.3z M197.8,412.2h-69.6V110h69.6
                  c48.7,0,87.4,13.4,115.1,39.9c27.9,26.6,42,64.1,42,111.2c0,47.2-14.1,84.6-42,111.2l0,0C285.2,398.8,246.5,412.2,197.8,412.2z
                  M158.2,382.2h39.6c40.7,0,72.5-10.6,94.4-31.6l0,0c22-21,32.7-50.3,32.7-89.5c0-39.2-10.7-68.5-32.7-89.5
                  c-21.9-20.9-53.7-31.6-94.4-31.6h-39.6V382.2z" />
              </svg>
              <button class="tm-button tm-button-white">Cancel Preloader</button>
          </div>
          <!--// Preloader -->

          <div id="wrapper" class="wrapper">

              <!-- Header Area -->
              <div class="header">

                  <!-- Header Top Area -->
                  <div class="header-toparea">
                      <div class="container">
                          <div class="row align-items-center">
                              <div class="col-md-7 col-sm-6 col-12">
                                  <div class="header-topinfo">
                                      <ul>
                                          <li>Email us : <a href="mailto://contact@example.com">contact@example.com</a></li>
                                          <li>Call us : <a href="tel://+1-800-915-6270">1-800-915-6270</a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="col-md-5 col-sm-6 col-12">
                                  <div class="header-topbutton">
                                      <a href="#" class="tm-button tm-button-white">Book an Appointment</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--// Header Top Area -->
=======
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="">
          {%- endif -%}
              <div class="page-width">
                <p class="announcement-bar__message {{ block.settings.text_alignment }}">
                  {{ block.settings.text | escape }}
                </p>
>>>>>>> 0135b169f5419129651e72f8ec42eb2738c454d5
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}